@charset "UTF-8";

/* 共通部分
------------------------------- */
html {
  font-size: 100%;
}
body {
  font-family:
    "Hiragino Kaku Gothic ProN", "Hiragino Sans", "BIZ UDPGothic", sans-serif;
  line-height: 1.7;
  color: #432;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}

/* レイアウト */
.wrapper {
  max-width: 1120px;
  margin: auto;
  padding: 0 1.5rem;
}
.align-center {
  text-align: center;
}

/* 見出し */
h3 + p {
  font-family: "Noto Serif JP", serif;
  font-optical-sizing: auto;
  font-size: 1.5rem;
  margin: 0.5rem;
  padding: 0.5rem;
}

.font-english {
  font-family: "Noto Serif JP", serif;
  font-optical-sizing: auto;
  color: #fff;
}
.page-title,
.heading-large,
.heading-medium {
  font-size: 2rem;
  text-align: center;
}
.page-title {
  margin-top: 2rem;
  line-height: 1.4;
}
.heading-large {
  margin-bottom: 1rem;
  color: #432;
}

/* ボタン */
.btn {
  display: inline-block;
  font-family: "Noto Serif JP", serif;
  font-size: 1rem;
  background-color: #552200;
  color: #fff;
  border-radius: 8px;
  padding: 0.75rem 1.5rem;
  transition: 0.5s;
}
.btn:hover {
  background-color: #8c3003;
}

/* iframe */
iframe {
  width: 100%;
}

/* ヘッダー
------------------------------- */
.page-header {
  padding-top: 0.5rem;
}
.logo {
  width: 180px;
}
.main-nav {
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  font-size: 1.5rem;
  list-style: none;
}
.main-nav a {
  color: #f7f0cd;
  font-weight: bolder;
}

.main-nav a:hover {
  color: #d3d3d3;
}

/* ヘッダーカバー画像
------------------------------- */
.cover {
  background-size: cover;
  background-position: center bottom;
  height: 800px;
}
.sub-cover {
  background-size: cover;
  background-position: center bottom;
  height: 528px;
  margin-bottom: 4rem;
}

/* HOME
------------------------------- */
.cover-home {
  background-image: url(../images/土鍋.png);
  margin: 1rem;
  padding: 0.5rem;
}
.about {
  max-width: 736px;
  padding: 0 1.5rem;
  margin: 3rem auto 0;
}
.about p {
  margin-bottom: 3rem;
}

/* NEWS
------------------------------- */
.cover-news {
  background-image: url(../images/おすすめバナー.png);
  margin: 1rem;
  padding: 0.5rem;
}

/* 記事部分 */
.post {
  margin-bottom: 3rem;
  font-family: "Noto Serif JP", serif;
}
.post-title {
  font-size: 2rem;
  margin-bottom: 1.25rem;
  text-align: center;
  color: #8c3003;
}
.post-info {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}
.post-cat {
  display: flex;
  gap: 0.5rem;
  list-style: none;
}
.post-cat a {
  color: #432;
  background-color: #faf7f0;
  border-radius: 8px;
  font-size: 1rem 0;
  padding: 0.5rem 0.75rem;
}
.post-cat a:hover {
  background-color: #c9c2bc;
}
.post-date {
  font-size: 0.875rem;
}
.post-thumbnail {
  border-radius: 16px;
  margin-bottom: 1.5rem;
}
.post-menu {
  font-size: 1.5rem;
  margin-bottom: 3rem;
}
.post-core {
  color: #8c3003;
  font-size: 2rem;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.post p {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  line-height: 2;
}

/* サイドバー */
.side-menu {
  list-style: none;
  text-align: center;
  margin-bottom: 4rem;
}
.side-menu li {
  border-bottom: 1px solid #c9c2bc;
}
.side-menu a {
  color: #432;
  display: block;
  padding: 2rem;
}
.side-menu a:hover {
  color: #c9c2bc;
}
.sidebar {
  font-family: "Noto Serif JP", serif;
  padding-top: 6rem;
}

/* MENU
------------------------------- */
.cover-menu {
  background-image: url(../images/お品書きヘッダー.png);
  margin: 1rem;
  padding: 0.5rem;
}
.grid {
  display: grid;
  gap: 2rem 1.5rem;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
}
.item img {
  object-fit: cover;
  border-radius: 16px;
}
.item p {
  font-size: 0.875rem;
  font-family: "Noto Serif JP", serif;
}

/* CONTACT
------------------------------- */
.cover-contact {
  background-image: url(../images/アクセス用土鍋.png);
  margin: 1rem;
  padding: 0.5rem;
}

.icon {
  width: 4%;
  margin-top: 2rem;
}
.flex-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 店舗情報 */

.heading-medium {
  color: #432;
}
.location {
  font-family: "Noto Serif JP", serif;
  margin-bottom: 3.5rem;
}
.location-info {
  margin-bottom: 2rem;
}
.location-info .info {
  padding: 0;
}

/* お問い合わせ */
.email {
  max-width: 916px;
  background-color: #faf7f0;
  border-radius: 48px;
  padding: 1.5rem 2.5rem 2.5rem;
  margin: 0 auto 2rem;
}
.email p {
  margin: 1rem 0 2rem;
}

/* SNS */
.sns-item {
  margin-bottom: 2rem;
}
.sns-item .heading-medium {
  margin-bottom: 0.5rem;
}
.sns-youtube {
  aspect-ratio: 16/9;
}
.sns-youtube iframe {
  height: 100%;
}

/* フッター
------------------------------- */
.page-footer {
  font-family: "Noto Serif JP", serif;
  background-size: cover;
  background-position: center;
  padding-top: 8rem;
}
.info {
  width: 100%;
  max-width: 544px;
  margin: auto;
  padding: 0 1.5rem;
  border-spacing: 0;
}
.info th,
.info td {
  border-bottom: 1px solid #c9c2bc;
}
.info th {
  text-align: left;
  font-weight: normal;
  padding: 1rem;
}
.info td {
  padding: 2rem 0;
}
.copyright {
  background-color: #5c3423;
  text-align: center;
  padding: 2rem 0;
  margin-top: 2rem;
  color: #fff;
}

/* デスクトップ版
------------------------------- */
@media (min-width: 800px) {
  /* 見出し */
  .page-title {
    font-size: 5rem;
    margin-top: -6rem;
  }
  .heading-large {
    font-size: 3rem;
  }
  .post-title {
    font-size: 3rem;
  }

  /* ヘッダー */
  .page-header {
    display: flex;
    justify-content: space-between;
    padding-top: 1.5rem;
  }
  .main-nav {
    font-size: 1.5rem;
  }

  /* ヘッダーカバー画像 */
  .sub-cover {
    margin-bottom: 6rem;
    background-position: center;
  }

  /* HOME */
  .cover-home {
    background-image: url(../images/土鍋.png);
    margin: 4rem;
    padding: 2rem;
  }
  .about {
    margin: 4rem auto 0;
  }

  /* NEWS */
  .cover-news {
    background-image: url(../images/おすすめバナー.png);

    margin: 4rem;
    padding: 2rem;
  }
  .news-contents {
    justify-content: space-between;
  }
  .post {
    width: 100%;
  }
  .post-cat a {
    font-size: 2rem;
  }
  .sidebar {
    width: 100%;
  }
  .sidebar .heading-medium {
    line-height: 3;
    margin-bottom: 1rem;
  }

  /* MENU */
  .cover-menu {
    background-image: url(../images/お品書きヘッダー.png);
    margin: 4rem;
    padding: 2rem;
  }
  .grid {
    gap: 3rem 2rem;
    grid-template-columns: repeat(3, 1fr);
  }
  .item img {
    margin-bottom: 0.5rem;
  }
  .item p {
    font-size: 1rem;
  }

  /* CONTACT */
  .cover-contact {
    background-image: url(../images/アクセス用土鍋.png);
    margin: 4rem;
    padding: 2rem;
  }
  .location {
    display: flex;
    gap: 2rem;
  }
  .location-info {
    width: 32%;
  }
  .location-info .info th {
    padding-left: 2rem;
  }
  .location-map {
    width: 64%;
  }
  .icon {
    width: 2%;
  }

  /* ↓ 追加 ↓ ------------------------------- */
  .email {
    margin-bottom: 8rem;
  }
  .sns {
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    margin-bottom: 0;
  }
  .sns-item {
    flex: 1;
  }
  /* ↑ 追加 ↑ ------------------------------- */
  .btn {
    font-size: 1.5rem;
  }
  /* フッター */
  .page-footer {
    padding-top: 4rem;
  }
  .info th {
    padding-left: 2.5rem;
  }
}
